<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>

  <style>
    .main-ctn{
      margin-top: 10rem;
      text-align: center;
      background-color: beige;
      width: 50%;
      height: 100px;
      margin-left: 16rem;
      padding-top: 20px;
    }
  </style>
  <body>
      <div class="main-ctn">
        <div class="card">
          <div>
            <i class="checkmark">✓</i>
          </div>

          <div class='success'>
            <strong> Order Successful. You can pay via cash on delivery </strong>
      
          <div>
            <a href="{% url 'index' %}">
              Continue to the Home Page
            </a>
          </div>

      </div>
    </div>
</body>
</html>